<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" type="text" value="<%= params[:query] %>"/>
  <button type="submit">Search</button>
</form>

<% if @chapters.empty? %>
  <p>Sorry, no matches were found.</p>
<% else %>
  <h2 class="content-subhead">Results for '<%= params[:query]%>'</h2>
    <% @sentences.each do |sentence| %>
      <li><a href="https://www.google.com"><%= clean(sentence) %></a></li>
      <br>
    <% end %>

    <% @paragraphs.each do |paragraph| %>
    <h3>Chapter : <%= paragraph[0] %></h3>
      <p><%= paragraph[1] %></p>
    <% end %>
<% end %>
