<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>"/>
  <button type="submit">Search</button>
</form>

<% if @results == nil %>
  <%= "No matches were found." %>
<% else %>
  <h2>Results for "<%= params[:query] %>"</h2>
  <ul>
    <% @results.each_with_index do |result, index| %>
      <% number = index + 1 %>
      <li><a href="/chapters/<%= number %>"> <%= result[0] %></a></li>
    <% end %>
  </ul>
<% end %>
