<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" type="text" value="<%= params[:query] %>"/>
  <button type="submit">Search</button>
</form>

<% if @chapters.empty? %>
  <p>Sorry, no matches were found.</p>
<% else %>
  <h2 class="content-subhead">Results for '<%= params[:query]%>'</h2>
    <% @sentences.each do |sentence| %>
      <li><a href="chapters/<%= sentence[:chp_number].to_i %><%= find_anchor(params[:query], sentence[:chp_number]) %>"><%= clean(sentence[:sentence]) %></a></li>
      <br>
    <% end %>

    <% @paragraphs.each do |paragraph| %>
    <h3>Chapter : <%= paragraph[:chp_number] %></h3>
      <p><%= clean(paragraph[:paragraph]) %></p>
    <% end %>
<% end %>
